* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background: #282d4e;
    font-family: "Open Sans", sans-serif;
  }

  .cards {
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    width:55%;
    height:60%;
    justify-content:center;
    align-items: center;
    display: flex;
    margin: auto;
  }

  .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
    color:rgb(255, 255, 255);
    font-size: clamp(60px, 70px, 80px);
    font-weight: bold;
    text-align: center;
    user-select: none;
    }

  #scharade{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  #scharade h1{
    color: white;
    font-size: 30px;
  }
  #timer{
    background-color: #545C8F;
    font-size: 20px;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 140px;
  }
  #headline{
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #timer-btn{
    height: 33%;
    display: flex;
    align-items: center;
  }
  .describe{
    color: rgb(219, 219, 219);
    font-size: 26px;
    margin-top: 10px;
  }
  progress{
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
  }